<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <ioc>
        <processor type="Sitecore.Support.XA.Feature.Compliancy.Pipelines.IoC.RegisterCookieWarningServices, Sitecore.Support.300586" patch:instead="processor[@type='Sitecore.XA.Feature.Compliancy.Pipelines.IoC.RegisterCookieWarningServices, Sitecore.XA.Feature.Compliancy']" />
      </ioc>
    </pipelines>
  </sitecore>
</configuration>